<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word-PDF Converter</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Word to PDF and PDF to Word Converter</h1>
        <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
            <div class="option-buttons">
                <label>
                    <input type="radio" name="conversion_type" value="word_to_pdf" required>
                    Word to PDF
                </label>
                <label>
                    <input type="radio" name="conversion_type" value="pdf_to_word" required>
                    PDF to Word
                </label>
            </div>
            <input type="file" name="file" required>
            <button type="submit">Convert</button>
        </form>
    </div>
</body>
</html>
