{% extends "base.html" %}

{% block title %}Split PDF{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center mt-4">Remove Pages from PDF</h2>
    <form action="/remove-pages" method="POST">
        <input type="hidden" name="pdf_path" value="{{ pdf_path }}">
        <div class="row">
            {% for page_number, page_image in pages.items() %}
            <div class="col-md-3 text-center">
                <img src="{{ page_image }}" alt="Page {{ page_number }}" class="img-thumbnail mb-2">
                <div>
                    <label>
                        <input type="checkbox" name="remove_pages" value="{{ page_number }}">
                        Remove Page {{ page_number }}
                    </label>
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-danger btn-block mt-4">Remove Selected Pages</button>
    </form>
</div>
{% endblock %}
